openapi: 3.1.1
info:
  title: AINovel Billing Admin API
  version: 0.1.0
  license:
    name: Proprietary
    url: https://docs.zook.dev/legal/api-license
  description: >
    Admin-only read APIs for AINovel payment orders. This contract is separate
    from the Flutter client bundle. Docker stdout logs remain the deep-dive
    diagnostic source; these endpoints read the durable billing records.
servers:
  - url: https://api.zook.dev
security:
  - adminSession: []
tags:
  - name: admin-ainovel-billing
    description: AINovel payment order investigation.
paths:
  /api/v1/admin/apps/ai_novel/billing/orders:
    get:
      operationId: listAiNovelBillingAdminOrders
      summary: List AINovel billing orders
      tags: [admin-ainovel-billing]
      parameters:
        - $ref: "#/components/parameters/UserId"
        - $ref: "#/components/parameters/PaymentId"
        - $ref: "#/components/parameters/ProviderTransactionId"
        - $ref: "#/components/parameters/Platform"
        - $ref: "#/components/parameters/Distribution"
        - $ref: "#/components/parameters/PaymentStatus"
        - name: createdFrom
          in: query
          required: false
          schema: { type: string, format: date-time }
        - name: createdTo
          in: query
          required: false
          schema: { type: string, format: date-time }
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Paginated AINovel billing orders.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminBillingOrderListResponse"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
  /api/v1/admin/apps/ai_novel/billing/orders/{paymentId}:
    get:
      operationId: getAiNovelBillingAdminOrder
      summary: Get an AINovel billing order detail
      tags: [admin-ainovel-billing]
      parameters:
        - $ref: "#/components/parameters/PaymentIdPath"
        - name: eventsCursor
          in: query
          required: false
          schema: { type: string, minLength: 1, maxLength: 512 }
        - name: eventsLimit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
      responses:
        "200":
          description: AINOVEL billing order detail with bounded event history.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AdminBillingOrderDetailResponse"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
components:
  securitySchemes:
    adminSession:
      type: apiKey
      in: cookie
      name: adminSession
  parameters:
    UserId:
      name: userId
      in: query
      required: false
      schema: { type: string, minLength: 1, maxLength: 128 }
    PaymentId:
      name: paymentId
      in: query
      required: false
      schema: { type: string, minLength: 1, maxLength: 512 }
    PaymentIdPath:
      name: paymentId
      in: path
      required: true
      schema: { type: string, minLength: 1, maxLength: 512 }
    ProviderTransactionId:
      name: providerTransactionId
      in: query
      required: false
      schema: { type: string, minLength: 1, maxLength: 256 }
    Platform:
      name: platform
      in: query
      required: false
      schema: { type: string, enum: [ios, android, macos] }
    Distribution:
      name: distribution
      in: query
      required: false
      schema:
        type: string
        enum: [app_store, google_play]
    PaymentStatus:
      name: status
      in: query
      required: false
      schema: { $ref: "#/components/schemas/AdminBillingStatus" }
    Limit:
      name: limit
      in: query
      required: false
      schema: { type: integer, minimum: 1, maximum: 100, default: 50 }
    Cursor:
      name: cursor
      in: query
      required: false
      schema: { type: string, minLength: 1, maxLength: 512 }
  responses:
    BadRequest:
      description: Invalid filter or pagination parameter.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AdminErrorResponse" }
    Unauthorized:
      description: Admin session is missing or expired.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AdminErrorResponse" }
    NotFound:
      description: Billing order is not found in the authorized app scope.
      content:
        application/json:
          schema: { $ref: "#/components/schemas/AdminErrorResponse" }
  schemas:
    AdminBillingStatus:
      type: string
      enum:
        [provider_paid, entitlement_active, expired, refunded, revoked, unknown]
    AdminBillingPaymentStatus:
      type: string
      enum: [provider_paid, refunded, unknown]
    AdminBillingEntitlementStatus:
      type: string
      enum: [active, cancelled, grace_period, expired, revoked, unknown]
    AdminBillingOrder:
      type: object
      additionalProperties: false
      required:
        [
          paymentId,
          appId,
          userId,
          provider,
          productKey,
          paymentStatus,
          entitlementStatus,
          entitlementKey,
          tier,
          purchaseSource,
          createdAt,
          updatedAt,
        ]
      properties:
        paymentId: { type: string }
        appId: { type: string, const: ai_novel }
        userId: { type: string }
        accountRegion: { type: string, const: UNKNOWN }
        platform: { type: [string, "null"], enum: [ios, android, macos, null] }
        distribution: { type: string, enum: [app_store, google_play] }
        provider: { type: string, const: revenuecat }
        productKey: { type: string }
        entitlementKey: { type: string }
        tier: { type: string, enum: [plus, pro] }
        billingPeriod: { type: [string, "null"], enum: [P1M, P3M, P1Y, null] }
        purchaseSource: { type: string, enum: [app_store, play_store] }
        catalogRevision: { type: [string, "null"] }
        providerProductId: { type: string }
        providerPackageId: { type: "null" }
        providerEntitlementId: { type: string }
        durationSeconds: { type: [integer, "null"], minimum: 0 }
        amountMinor: { type: [integer, "null"], minimum: 0 }
        currency: { type: [string, "null"], pattern: "^[A-Z]{3}$" }
        paymentStatus:
          { $ref: "#/components/schemas/AdminBillingPaymentStatus" }
        entitlementStatus:
          { $ref: "#/components/schemas/AdminBillingEntitlementStatus" }
        checkoutId: { type: "null" }
        providerOrderId: { type: "null" }
        providerTransactionId: { type: string }
        environment:
          { type: [string, "null"], enum: [PRODUCTION, SANDBOX, null] }
        paidAt: { type: [string, "null"], format: date-time }
        expiresAt: { type: [string, "null"], format: date-time }
        deletedAt: { type: [string, "null"], format: date-time }
        redactedAt: { type: "null" }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    AdminBillingTransaction:
      type: object
      additionalProperties: false
      required: [transactionId, provider, transactionKind, status, occurredAt]
      properties:
        transactionId: { type: string }
        provider: { type: string, const: revenuecat }
        transactionKind:
          { type: string, enum: [purchase, renewal, refund, revoke] }
        providerOrderId: { type: "null" }
        providerTransactionId: { type: string }
        relatedTransactionId: { type: "null" }
        providerRefundId: { type: "null" }
        refundAmountMinor: { type: [integer, "null"], minimum: 0 }
        refundReason: { type: "null" }
        status: { $ref: "#/components/schemas/AdminBillingPaymentStatus" }
        amountMinor: { type: [integer, "null"], minimum: 0 }
        currency: { type: [string, "null"], pattern: "^[A-Z]{3}$" }
        occurredAt: { type: string, format: date-time }
    AdminBillingEvent:
      type: object
      additionalProperties: false
      required:
        [
          eventId,
          appId,
          provider,
          source,
          eventType,
          providerEventId,
          affectedUserIds,
          verificationResult,
          processingStatus,
          occurredAt,
          processedAt,
          accountDeletedAt,
        ]
      properties:
        eventId: { type: string }
        appId: { type: string, const: ai_novel }
        provider: { type: string, const: revenuecat }
        source: { type: string, const: webhook }
        eventType: { type: string }
        providerEventId: { type: string }
        affectedUserIds:
          type: array
          items: { type: string }
        verificationResult: { type: string, const: verified }
        processingStatus: { type: string, enum: [processed, ignored] }
        occurredAt: { type: [string, "null"], format: date-time }
        processedAt: { type: string, format: date-time }
        accountDeletedAt: { type: [string, "null"], format: date-time }
    AdminBillingOrderListData:
      type: object
      additionalProperties: false
      required: [items, nextCursor]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/AdminBillingOrder" }
        nextCursor: { type: [string, "null"] }
    AdminBillingOrderDetailData:
      type: object
      additionalProperties: false
      required:
        [
          order,
          currentMembership,
          transactions,
          entitlementGrants,
          events,
          eventsNextCursor,
        ]
      properties:
        order: { $ref: "#/components/schemas/AdminBillingOrder" }
        currentMembership:
          oneOf:
            - { type: "null" }
            - $ref: "#/components/schemas/AdminBillingCurrentMembership"
        transactions:
          type: array
          items: { $ref: "#/components/schemas/AdminBillingTransaction" }
        entitlementGrants:
          type: array
          maxItems: 0
          items: { type: object }
        events:
          type: array
          items: { $ref: "#/components/schemas/AdminBillingEvent" }
        eventsNextCursor: { type: [string, "null"] }
    AdminBillingCurrentMembership:
      type: object
      additionalProperties: false
      required:
        [
          active,
          state,
          tier,
          planKey,
          expiresAt,
          autoRenew,
          source,
          lastSyncedAt,
          deletedAt,
        ]
      properties:
        active: { type: boolean }
        state:
          {
            type: string,
            enum: [free, active, cancelled, grace_period, expired],
          }
        tier: { type: [string, "null"], enum: [plus, pro, null] }
        planKey: { type: [string, "null"] }
        expiresAt: { type: [string, "null"], format: date-time }
        autoRenew: { type: [boolean, "null"] }
        source: { type: [string, "null"], enum: [app_store, play_store, null] }
        lastSyncedAt: { type: [string, "null"], format: date-time }
        deletedAt: { type: [string, "null"], format: date-time }
    AdminBillingOrderListResponse:
      type: object
      required: [code, message, data, requestId]
      properties:
        code: { type: string, const: OK }
        message: { type: string }
        data: { $ref: "#/components/schemas/AdminBillingOrderListData" }
        requestId: { type: string }
    AdminBillingOrderDetailResponse:
      type: object
      required: [code, message, data, requestId]
      properties:
        code: { type: string, const: OK }
        message: { type: string }
        data: { $ref: "#/components/schemas/AdminBillingOrderDetailData" }
        requestId: { type: string }
    AdminErrorResponse:
      type: object
      required: [code, message]
      properties:
        code: { type: string }
        message: { type: string }
        requestId: { type: string }
