openapi: 3.2.0
info:
  title: AINovel Billing API
  version: 0.1.0
  license:
    name: Proprietary
    url: https://docs.zook.dev/legal/api-license
  description: |
    Active billing contract for the AINovel App Store and Google Play MVP.
    The client reads canonical membership state from Zook and uses RevenueCat
    for store purchases. Explicitly configured Alipay supports CN one-off memberships.
    Development CNY prices are placeholders, not approved production catalog prices.

    This contract intentionally excludes AI usage balances, product copy, and
    provider-specific receipt payloads from the client API. AI usage is enforced
    by Zook's AI service. Apple and Google purchases are initiated by the
    RevenueCat SDK. Other providers are unavailable until separately enabled.
servers:
  - url: https://api.zook.dev
security:
  - bearerAuth: []
tags:
  - name: ainovel-billing
    description: Authenticated client billing and membership operations.
paths:
  /api/v1/ai_novel/billing/alipay/orders:
    post:
      operationId: createAiNovelAlipayOrder
      summary: Create or replay an owned CN one-off Alipay checkout
      description: |
        Persisted idempotency binds user, product, platform, distribution and merchant environment.
        Only server prices apply. Active RevenueCat access returns 409. A new intent may coexist
        with older pending checkouts after client cancellation; idempotency prevents retry duplicates.
        Production requires explicit enablement, approved prices and complete merchant configuration.
        payment is null for terminal or expired orders; clients must not relaunch checkout on recovery.
      tags: [ainovel-billing]
      parameters:
        - $ref: "#/components/parameters/XAppId"
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AlipayCreateRequest" }
      responses:
        "200":
          description: Persisted checkout identity and optional signed checkout payload
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AlipayCreateResponse" }
        "403": { description: "Account region, channel or app scope rejected" }
        "409": { description: Idempotency or active provider conflict }
        "503": { description: "Provider disabled, incomplete configuration or signing unavailable" }
  /api/v1/ai_novel/billing/alipay/orders/{orderId}:
    get:
      operationId: queryAiNovelAlipayOrder
      summary: Query an owned order and converge verified payment evidence
      description: |
        No request body. Official SDK response signatures must be verified. Merchant app identity
        is bound by the configured SDK. Response app_id, if supplied, must match;
        seller_id is additionally checked only when a merchant override was configured for the order.
        response order and amount must match. Applied Plus may coexist with effective Pro access:
        confirmation uses this owned paid order's membershipApplied, not effective plan equality.
        Paid conflicts remain unapplied with syncStatus pending. Failed/closed are terminal
        unsuccessful checkout states. Unverified/unavailable queries never grant.
        Paid orders are not polled for external refunds; external refund synchronization is outside MVP.
      tags: [ainovel-billing]
      parameters:
        - $ref: "#/components/parameters/XAppId"
        - name: orderId
          in: path
          required: true
          schema: { type: string, pattern: "^(ow_(and|web|win)_[ab](01|03|12)_[A-Za-z0-9_-]{1,6}_[a-f0-9]{16}|(ow|alp)_[a-f0-9]{32})$" }
      responses:
        "200":
          description: Persisted settlement and effective highest-tier membership
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AlipayQueryResponse" }
        "404": { description: Missing or not-owned order }
  /api/v1/ai_novel/billing/catalog:
    get:
      operationId: getAiNovelBillingCatalog
      summary: Get the active AINovel billing products
      description: |
        Returns logical products and the payment providers currently available
        to this authenticated AINovel account. Product display names and UI copy
        remain client-owned. App Store and Google Play prices are read from
        RevenueCat's native store products. If an active
        entitlement is managed by another provider, that provider is returned as
        the only available purchase path and the other providers are marked
        unavailable.
      tags: [ainovel-billing]
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/XAppId"
        - name: platform
          in: query
          required: true
          description: Client surface requesting the catalog.
          schema:
            $ref: "#/components/schemas/BillingPlatform"
        - name: distribution
          in: query
          required: true
          description: Distribution channel of the running client.
          schema:
            $ref: "#/components/schemas/DistributionChannel"
      responses:
        "200":
          description: Available billing catalog
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CatalogResponse"
        "401":
          description: Missing or invalid bearer authentication
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: App scope or account region mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/v1/ai_novel/billing/sync:
    post:
      operationId: syncAiNovelBillingState
      summary: Refresh the signed-in user's RevenueCat membership state
      description: |
        Performs a bounded (maximum eight-second provider request), repeatable
        refresh for the authenticated user's RevenueCat customer and returns the
        current Zook membership state. Repeated calls are safe and transaction
        evidence is upserted by provider transaction ID. The
        server derives the RevenueCat customer ID from the authenticated Zook
        account; the client must not submit a user ID, receipt, product, or
        entitlement. Only the server allowlist of AINovel product IDs and
        matching RevenueCat entitlements can grant membership. A valid
        RevenueCat webhook may also trigger a provider refresh. If the provider
        cannot be refreshed, Zook returns the last committed state with
        syncStatus=pending; clients may retry with bounded attempts.
        Apple App Store, Google Play and Alipay are pairwise exclusive while
        membership is active and unexpired, including cancelled renewal.
        Cross-channel active evidence is retained financially but does not replace
        an established active channel; such confirmation returns pending.
      tags: [ainovel-billing]
      security:
        - bearerAuth: []
      parameters:
        - $ref: "#/components/parameters/XAppId"
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncRequest"
      responses:
        "200":
          description: Current state after a best-effort synchronization
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncResponse"
        "401":
          description: Missing or invalid bearer authentication
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "403":
          description: App scope or account region mismatch
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    XAppId:
      name: X-App-Id
      in: header
      required: true
      schema:
        type: string
        const: ai_novel
  schemas:
    AlipayCreateRequest:
      type: object
      additionalProperties: false
      required: [productKey, platform, distribution, idempotencyKey]
      properties:
        productKey: { $ref: "#/components/schemas/BillingProductKey" }
        platform: { type: string, enum: [android, web, windows] }
        distribution: { type: string, enum: [china_android_store, direct_android, web, windows] }
        idempotencyKey: { type: string, pattern: "^[A-Za-z0-9_-]{8,128}$" }
    AlipayOrder:
      type: object
      additionalProperties: false
      required: [orderId, provider, environment, productKey, status, amountMinor, currency, createdAt, expiresAt, paidAt, membershipApplied, conflict]
      properties:
        orderId: { type: string, pattern: "^(ow_(and|web|win)_[ab](01|03|12)_[A-Za-z0-9_-]{1,6}_[a-f0-9]{16}|(ow|alp)_[a-f0-9]{32})$" }
        provider: { type: string, const: alipay }
        environment: { type: string, enum: [sandbox, production] }
        productKey: { $ref: "#/components/schemas/BillingProductKey" }
        status: { type: string, enum: [pending, paid, closed, failed] }
        amountMinor: { type: integer, minimum: 1 }
        currency: { type: string, const: CNY }
        createdAt: { type: string, format: date-time }
        expiresAt: { type: string, format: date-time, description: "Checkout expiry, not membership expiry" }
        paidAt: { type: [string, "null"], format: date-time }
        membershipApplied: { type: boolean }
        conflict: { type: [string, "null"], enum: [provider_conflict, null] }
    AlipayPayment:
      oneOf:
        - type: object
          additionalProperties: false
          required: [type, orderString]
          properties:
            type: { type: string, const: app }
            orderString: { type: string }
        - type: object
          additionalProperties: false
          required: [type, url]
          properties:
            type: { type: string, const: page }
            url: { type: string, format: uri }
    AlipayCreateData:
      type: object
      additionalProperties: false
      required: [order, payment]
      properties:
        order: { $ref: "#/components/schemas/AlipayOrder" }
        payment:
          oneOf:
            - $ref: "#/components/schemas/AlipayPayment"
            - type: "null"
    AlipayQueryData:
      type: object
      additionalProperties: false
      required: [order, syncStatus, membership]
      properties:
        order: { $ref: "#/components/schemas/AlipayOrder" }
        syncStatus: { $ref: "#/components/schemas/SyncStatus" }
        membership: { $ref: "../common/users.yaml#/components/schemas/MembershipInfo" }
    AlipayCreateResponse:
      type: object
      required: [code, message, data, requestId]
      properties:
        code: { type: string }
        message: { type: string }
        data: { $ref: "#/components/schemas/AlipayCreateData" }
        requestId: { type: string }
    AlipayQueryResponse:
      type: object
      required: [code, message, data, requestId]
      properties:
        code: { type: string }
        message: { type: string }
        data: { $ref: "#/components/schemas/AlipayQueryData" }
        requestId: { type: string }
    AccountRegion:
      type: string
      enum: [CN, GLOBAL, UNKNOWN]
    BillingPlatform:
      type: string
      enum: [ios, android, macos, web, windows]
    DistributionChannel:
      type: string
      enum:
        [
          app_store,
          google_play,
          china_android_store,
          direct_android,
          web,
          windows,
        ]
    BillingProvider:
      type: string
      description: Historical payment provider identifiers used by membership conflict records.
      enum: [revenuecat, alipay]
    BillingCatalogProvider:
      type: string
      description: Providers represented in catalog offers; Alipay requires explicit complete configuration.
      enum: [revenuecat, alipay]
    BillingProductKey:
      type: string
      enum:
        [
          plus_monthly,
          plus_quarterly,
          plus_yearly,
          pro_monthly,
          pro_quarterly,
          pro_yearly,
        ]
    BillingTier:
      type: string
      enum: [plus, pro]
    SyncStatus:
      type: string
      enum: [synchronized, pending]
    Money:
      type: object
      additionalProperties: false
      required: [amountMinor, currency]
      properties:
        amountMinor:
          type: integer
          format: int64
          minimum: 0
          description: Amount in the smallest unit of the currency.
        currency:
          type: string
          pattern: "^[A-Z]{3}$"
    BillingProduct:
      type: object
      additionalProperties: false
      required: [productKey, tier, billingPeriod, providers]
      properties:
        productKey:
          $ref: "#/components/schemas/BillingProductKey"
        tier:
          $ref: "#/components/schemas/BillingTier"
        billingPeriod:
          type: string
          description: ISO 8601 duration, for example P1M or P1Y.
          enum: [P1M, P3M, P1Y]
        providers:
          type: array
          minItems: 1
          uniqueItems: true
          items:
            $ref: "#/components/schemas/BillingProductProvider"
    BillingProductProvider:
      type: object
      additionalProperties: false
      required: [provider, available, price]
      properties:
        provider:
          $ref: "#/components/schemas/BillingCatalogProvider"
        available:
          type: boolean
        blockedReason:
          type: [string, "null"]
          enum:
            [
              active_membership_managed_elsewhere,
              unsupported_distribution,
              provider_unavailable,
              null,
            ]
        providerProductId:
          type: [string, "null"]
          description: Store product ID, distinct from logical productKey. Apple uses productKey; Google Play uses productKey:auto-renew (subscription ID and base plan ID).
        providerPackageId:
          type: [string, "null"]
          description: RevenueCat package identifier when the provider uses offerings.
        providerEntitlementId:
          type: [string, "null"]
          description: RevenueCat entitlement identifier or equivalent provider entitlement key.
        price:
          description: Server-controlled price. Null means the native store supplies the price.
          oneOf:
            - $ref: "#/components/schemas/Money"
            - type: "null"
    CatalogData:
      type: object
      additionalProperties: false
      required: [accountRegion, platform, distribution, products]
      properties:
        accountRegion:
          $ref: "#/components/schemas/AccountRegion"
        platform:
          $ref: "#/components/schemas/BillingPlatform"
        distribution:
          $ref: "#/components/schemas/DistributionChannel"
        products:
          type: array
          items:
            $ref: "#/components/schemas/BillingProduct"
    CatalogResponse:
      type: object
      additionalProperties: false
      required: [code, message, data, requestId]
      properties:
        code: { type: string, const: OK }
        message: { type: string }
        data:
          $ref: "#/components/schemas/CatalogData"
        requestId: { type: string }
    SyncData:
      type: object
      additionalProperties: false
      required: [syncStatus, membership]
      properties:
        syncStatus:
          $ref: "#/components/schemas/SyncStatus"
        membership:
          $ref: "../common/users.yaml#/components/schemas/MembershipInfo"
    SyncResponse:
      type: object
      additionalProperties: false
      required: [code, message, data, requestId]
      properties:
        code: { type: string }
        message: { type: string }
        data:
          $ref: "#/components/schemas/SyncData"
        requestId: { type: string }
    SyncRequest:
      type: object
      additionalProperties: false
      properties:
        reason:
          type: string
          enum: [purchase, restore, app_start, retry]
          description: Non-authoritative client intent used for diagnostics only.
    ErrorResponse:
      type: object
      additionalProperties: false
      required: [code, message, requestId]
      properties:
        code: { type: string }
        message: { type: string }
        data:
          oneOf:
            - $ref: "#/components/schemas/BillingProviderConflictData"
            - type: "null"
        requestId: { type: string }
    BillingProviderConflictData:
      type: object
      additionalProperties: false
      required: [currentProvider, currentSource, expiresAt]
      properties:
        currentProvider:
          $ref: "#/components/schemas/BillingProvider"
        currentSource:
          type: string
          enum: [app_store, play_store, alipay, rc_web]
        expiresAt:
          type: string
          format: date-time
        managementUrl:
          type: [string, "null"]
          format: uri
