openapi: 3.1.1
info:
  title: AINovel Feedback API
  version: 0.1.0
  license:
    name: Proprietary
    url: https://docs.zook.dev/legal/api-license
  description: Authenticated user feedback submission API for AINovel.
servers:
  - url: https://api.zook.dev
security:
  - bearerAuth: []
paths:
  /api/v1/ai_novel/feedback:
    post:
      operationId: submitAiNovelFeedback
      summary: Submit AINovel user feedback
      tags: [ainovel, feedback]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AiNovelFeedbackSubmitRequest"
      responses:
        "200":
          description: Feedback accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiNovelFeedbackSubmitResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AiNovelFeedbackAttachmentInput:
      type: object
      required: [fileName, mimeType, sizeBytes, contentBase64]
      properties:
        fileName:
          type: string
          maxLength: 160
        mimeType:
          type: string
          enum: [image/jpeg, image/png, image/webp]
        sizeBytes:
          type: integer
          minimum: 1
          maximum: 3145728
        width:
          type: integer
          minimum: 1
        height:
          type: integer
          minimum: 1
        originalSizeBytes:
          type: integer
          minimum: 1
        contentBase64:
          type: string
          description: Base64-encoded compressed image bytes.
    AiNovelFeedbackSubmitRequest:
      type: object
      required: [message]
      properties:
        message:
          type: string
          minLength: 30
          maxLength: 10000
          description: Feedback text. The server trims whitespace and rejects text shorter than 30 characters, including image-only submissions.
        attachments:
          type: array
          maxItems: 5
          items:
            $ref: "#/components/schemas/AiNovelFeedbackAttachmentInput"
        platform:
          type: string
          maxLength: 40
        appVersion:
          type: string
          maxLength: 40
        locale:
          type: string
          maxLength: 40
    AiNovelFeedbackSubmitData:
      type: object
      required: [id, accepted]
      properties:
        id: { type: string }
        accepted: { type: boolean, const: true }
        attachmentCount:
          type: integer
          minimum: 0
          maximum: 5
    AiNovelFeedbackSubmitResponse:
      type: object
      required: [code, message, data, requestId]
      properties:
        code: { type: string, example: OK }
        message: { type: string, example: success }
        data:
          $ref: "#/components/schemas/AiNovelFeedbackSubmitData"
        requestId: { type: string }
    ErrorResponse:
      type: object
      required: [code, message, requestId]
      properties:
        code: { type: string }
        message: { type: string }
        requestId: { type: string }
  responses:
    BadRequest:
      description: Invalid body, unsupported image, under-limit or over-limit text, duplicate recent feedback, or image-only feedback.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: User authentication is required.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    RateLimited:
      description: Submission rate or daily image-byte limit exceeded.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
