openapi: 3.2.0
info:
  title: AINovel Statistics API
  version: 0.1.0
  license:
    name: Proprietary
    url: https://docs.zook.dev/legal/api-license
  description: Backend-owned AINovel writing statistics report and snapshot sync endpoints.
servers:
  - url: https://api.zook.dev
security:
  - bearerAuth: []
paths:
  /api/v1/ai_novel/statistics:
    get:
      operationId: getAiNovelStatistics
      summary: Get the signed-in user's AINovel statistics report
      tags: [ainovel, statistics]
      responses:
        "200":
          description: Statistics report
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiNovelStatisticsResponse"
        "401":
          description: Bearer auth is missing or invalid
          content:
            application/json:
              schema:
                $ref: "./ai.yaml#/components/schemas/ErrorResponse"
        "403":
          description: App scope mismatch
          content:
            application/json:
              schema:
                $ref: "./ai.yaml#/components/schemas/ErrorResponse"
  /api/v1/ai_novel/statistics/snapshot:
    post:
      operationId: submitAiNovelStatisticsSnapshot
      summary: Submit local writing-count totals and authoritative daily rollups
      description: |
        AINovel keeps book/chapter drafts in the account-local writing database.
        The app periodically submits compact writing-count totals so Zook remains
        the read source for the statistics page. Top-level totals replace the
        user's canonical account totals. `daily` replaces the local writing
        fields for the account; omitted dates are reset to zero. Existing token
        counts are retained because Zook AI usage tracking owns them. Date keys
        use the Asia/Shanghai calendar boundary. The latest successful account
        snapshot is authoritative when multiple devices submit.
      tags: [ainovel, statistics]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AiNovelStatisticsSnapshotRequest"
      responses:
        "200":
          description: Snapshot accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AiNovelStatisticsSnapshotResponse"
        "400":
          description: Invalid snapshot body
          content:
            application/json:
              schema:
                $ref: "./ai.yaml#/components/schemas/ErrorResponse"
        "401":
          description: Bearer auth is missing or invalid
          content:
            application/json:
              schema:
                $ref: "./ai.yaml#/components/schemas/ErrorResponse"
        "403":
          description: App scope or snapshot account mismatch
          content:
            application/json:
              schema:
                $ref: "./ai.yaml#/components/schemas/ErrorResponse"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    AiNovelStatisticsResponse:
      type: object
      required: [code, message, data]
      properties:
        code: { type: string, example: OK }
        message: { type: string, example: success }
        data:
          $ref: "#/components/schemas/AiNovelStatisticsData"
        requestId: { type: string }
    AiNovelStatisticsData:
      type: object
      required:
        [
          timezone,
          generatedAt,
          overview,
          recentActivity,
          writingTrend,
          summaryCard,
        ]
      properties:
        timezone: { type: string, example: Asia/Shanghai }
        generatedAt: { type: string, format: date-time }
        overview:
          $ref: "#/components/schemas/AiNovelStatisticsOverview"
        recentActivity:
          $ref: "#/components/schemas/AiNovelStatisticsRecentActivity"
        writingTrend:
          type: object
          required: [days]
          properties:
            days:
              type: array
              items:
                $ref: "#/components/schemas/AiNovelStatisticsDailyItem"
        summaryCard:
          $ref: "#/components/schemas/AiNovelStatisticsSummaryCard"
    AiNovelStatisticsOverview:
      type: object
      required: [totalWorks, totalWords, totalChapters, activeWritingDays]
      properties:
        totalWorks: { type: integer, minimum: 0 }
        totalWords: { type: integer, minimum: 0 }
        totalChapters: { type: integer, minimum: 0 }
        activeWritingDays: { type: integer, minimum: 0 }
    AiNovelStatisticsRecentActivity:
      type: object
      required:
        [
          wordsToday,
          wordsThisMonth,
          tokensToday,
          tokensThisMonth,
          activeWritingDaysLast30Days,
        ]
      properties:
        wordsToday: { type: integer, minimum: 0 }
        wordsThisMonth: { type: integer, minimum: 0 }
        tokensToday: { type: integer, minimum: 0 }
        tokensThisMonth: { type: integer, minimum: 0 }
        activeWritingDaysLast30Days: { type: integer, minimum: 0 }
    AiNovelStatisticsDailyItem:
      type: object
      required: [date, words, tokens, active]
      properties:
        date: { type: string, pattern: "^\\d{4}-\\d{2}-\\d{2}$" }
        words: { type: integer, minimum: 0 }
        tokens: { type: integer, minimum: 0 }
        active: { type: boolean }
    AiNovelStatisticsSummaryCard:
      type: object
      required: [totalWords, totalTokens]
      properties:
        totalWords: { type: integer, minimum: 0 }
        totalTokens: { type: integer, minimum: 0 }
    AiNovelStatisticsSnapshotRequest:
      type: object
      required:
        [accountId, totalWorks, totalWords, totalChapters, activeWritingDays]
      properties:
        accountId:
          type: string
          minLength: 1
          description: Expected authenticated account. Zook rejects a mismatch.
        totalWorks: { type: integer, minimum: 0 }
        totalWords: { type: integer, minimum: 0 }
        totalChapters: { type: integer, minimum: 0 }
        activeWritingDays: { type: integer, minimum: 0 }
        daily:
          type: array
          maxItems: 400
          uniqueItems: true
          items:
            $ref: "#/components/schemas/AiNovelStatisticsSnapshotDailyItem"
    AiNovelStatisticsSnapshotDailyItem:
      type: object
      required: [date, words]
      properties:
        date: { type: string, pattern: "^\\d{4}-\\d{2}-\\d{2}$" }
        words: { type: integer, minimum: 0 }
        active: { type: boolean }
    AiNovelStatisticsSnapshotResponse:
      type: object
      required: [code, message, data]
      properties:
        code: { type: string, example: OK }
        message: { type: string, example: success }
        data:
          type: object
          required: [accepted, updatedAt]
          properties:
            accepted: { type: boolean, const: true }
            updatedAt: { type: string, format: date-time }
        requestId: { type: string }
