DOCKER_IMAGE_NAME=zook
DEPLOY_SLOT=dev
COMPOSE_PROJECT_NAME=zook-dev
DEPLOY_HOST_BIND_IP=127.0.0.1
DEPLOY_HOST_PORT=3101
DEPLOY_CONTAINER_PORT=3100
HEALTH_PATH=health
PORT=3100
DEPLOY_KEEP_RELEASES=5
DEPLOY_BUILDER_PRUNE_UNTIL=168h

# Add your dev environment variables below.
# ACCESS_TOKEN_SECRET=replace-me
# REFRESH_TOKEN_SECRET=replace-me
