openapi: 3.1.1
info:
  title: Common Analytics API
  version: 0.1.0
  license:
    name: Proprietary
    url: https://docs.zook.dev/legal/api-license
  description: External analytics ingestion endpoints.
servers:
  - url: https://api.zook.dev
security: []
paths:
  /api/v1/analytics/events/batch:
    post:
      operationId: ingestAnalyticsEvents
      summary: Batch ingest analytics events
      tags: [common, analytics]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnalyticsBatchRequest"
      responses:
        "200":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptedResponse"
components:
  schemas:
    AnalyticsBatchRequest:
      type: object
      required: [events]
      properties:
        events:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/AnalyticsEventInput"
    AnalyticsEventInput:
      type: object
      required: [platform, sessionId, pageKey, eventName, occurredAt]
      properties:
        platform: { type: string, enum: [web, ios, android] }
        sessionId: { type: string }
        pageKey: { type: string }
        eventName: { type: string, enum: [page_view, page_leave, page_heartbeat] }
        durationMs: { type: integer }
        occurredAt: { type: string, format: date-time }
        metadata:
          type: object
          additionalProperties: true
    AnalyticsAcceptedData:
      type: object
      required: [accepted]
      properties:
        accepted: { type: integer }
    AcceptedResponse:
      type: object
      required: [code, message]
      properties:
        code: { type: string, example: OK }
        message: { type: string, example: success }
        data:
          type: object
          additionalProperties: true
        requestId: { type: string }
